<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta name="generator" content="Pagespace">
        <meta name="description" content="{{ site.description }}">

        <title>{{ site.name }} | {{page.name}}</title>

        <link rel="shortcut icon" href="/favicon.ico" />
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/site.css">
    </head>
    <body>
        <div class=wrap>
            <header>
                <div class=inner-header>
                    <h1><i>Versatile</i> Internet</h1>
                </div>
            </header>
            <main>
                {{#Main}}
                    {{> Main }}
                {{/Main}}
            </main>
            <footer>
                {{#Footer}}
                    {{> Footer }}
                {{/Footer}}
            </footer>
        </div>
    </body>
</html>