.btn-clean {
  background: transparent;
  border: none;
}
.btn-clean:focus,
.btn-clean:active {
  outline: none;
}

.prev-arrow,
.next-arrow {
  width: 32px;
  padding: 0;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  text-indent: -9999px;
}
.prev-arrow {
  background-position: left center;
  background-image: url(assets/icons/chevron-left.svg);
}
.next-arrow {
  background-position: right center;
  background-image: url(assets/icons/chevron-right.svg);
}