#app {
  max-width: 1510px;
}

.wrap {
  padding: 1rem #{map-get($padding-main-x, 'md')};
  max-width: $wrapWidth;
  margin-left: 0 !important;
  margin-right: 0 !important;

  @media #{$desktop} {
    padding: 1rem #{map-get($padding-main-x, 'lg')};
  }

  h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 2rem;
    color: darken(#ef0a4a, 7%);
    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 1.3rem;
  }

  .date {
    display: block;
    color: $text-muted;
  }

  figure {
    background: #fff;
    border-bottom: 1px solid $gray-lightest;
  }
  figcaption {
    font-size: 0.9rem;
    padding: 0.6rem 0;
    text-align: center;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.page-main {
  em {
    color: #3799cc
  }
}