$bg-color: #fcfcfc;
$bg-main-color: #F3F3F3;
$primary-header-color: #EF0A4A;
$primary-link-color:  #1D7BE7;
$text-color: #1A5979;
$mute-color: #808080;

$compact: "(max-width: 879px)";
$desktop: "(min-width: 880px)";
