/* -- Reset ---------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

i,
em {
  font-style: oblique; }

b,
strong {
  font-weight: bold; }

.wysiwyg-text-align-left {
  text-align: left; }

.wysiwyg-text-align-right {
  text-align: right; }

.wysiwyg-text-align-justify {
  text-align: justify; }

.wysiwyg-align-top {
  vertical-align: top; }

.wysiwyg-align-middle {
  vertical-align: middle; }

.wysiwyg-align-bottom {
  vertical-align: bottom; }

.wysiwyg-float-right {
  float: right;
  margin-left: 10px; }

.wysiwyg-float-left {
  float: left;
  margin-right: 10px; }

html {
  font-size: 18px;
  background-color: #a50036; }

.wrap {
  padding: 50px 80px;
  background-color: #fcfcfc; }

header {
  background-color: #a50036;
  background-clip: text;
  -webkit-background-clip: text; }

h1, h2, h3 {
  font-family: 'Source Sans Pro', "Helvetica Neue", Arial, sans-serif; }

h1 {
  font-size: 1.3rem;
  font-weight: 400;
  color: gray;
  text-transform: uppercase; }

h1 i {
  font-weight: 600;
  font-size: 4rem;
  font-style: italic;
  color: transparent; }
