@mixin hover {
  &:hover { @content }
}

@mixin hover-focus {
    &:focus { @content }
    @include hover { @content }
}

@mixin plain-hover-focus {
    &,
    &:focus,
    &:hover {
      @content
    }
}

@mixin hover-focus-active {
    &:focus,
    &:active {
      @content
    }
    @include hover { @content }
}