@import 'styles/variables';

.page-footer {
  max-width: 980px;
  padding: 2rem map-get($padding-main-x, 'md');

  @media #{$desktop} {
    padding: 2rem map-get($padding-main-x, 'lg');
  }
  border-top: 1px solid #e5e9ec;
  color: #EF0A4A;
  display: flex;
  justify-content: space-between;
}